<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calzado Hombre</title>
    <link rel="stylesheet" href="../../static/css/plantilla.css">
    <link rel="stylesheet" href="../../static/css/productos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">
                <img class="logo" src="../../static/img/Logo_cosport.png" alt="logo">
            </a>
            <ul class="enlaces-menu">
                <li>
                    <a href="#">Novedades</a>
                    <ul class="menu-novedades">
                        <li><a href="Destacado.html">Destacado Hombres</a></li>
                        <li><a href="../Mujeres/Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="../Ninos/Destacado.html">Destacado Niños</a></li>
                    </ul>
                </li>
                <li><a href="Destacado.html">Hombres</a>
                    <ul>
                        <li><a href="Destacado.html">Destacado Hombres</a></li>
                        <li><a href="Calzado.html">Calzado</a></li>
                        <li><a href="Ropa.html">Ropa</a></li>
                        <li><a href="Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="../Mujeres/Destacado.html">Mujeres</a>
                    <ul>
                        <li><a href="../Mujeres/Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="../Mujeres/Calzado.html">Calzado</a></li>
                        <li><a href="../Mujeres/Ropa.html">Ropa</a></li>
                        <li><a href="../Mujeres/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="../Ninos/Destacado.html">Niños</a>
                    <ul>
                        <li><a href="../Ninos/Destacado.html">Destacado Niños</a></li>
                        <li><a href="../Ninos/Calzado.html">Calzado</a></li>
                        <li><a href="../Ninos/Ropa.html">Ropa</a></li>
                        <li><a href="../Ninos/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../login.html"><i class="far fa-user-circle" style="font-size:25px;"></i></a>
                </li>
            </ul>

            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav>
    </header>

    <!-- Productos-->
    <!-- Productos-->
    <main class="main">
        <div class="container">
            <section class="container-products">
                <div class="product">
                    <a class="products" href="pandas.html"><img src="../../static/img/ProductsH/1img1.jpg" alt="" class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Air Hurache</h3>
                        <h4 class="product__tittle">Zapatilla casual</h4>
                        <h3>$350.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="pandas.html"><img src="../../static/img/ProductsH/2img1.jpg" alt="" class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Pegasus Trail</h3>
                        <h4 class="product__tittle">Zapatilla de running</h4>
                        <h3>$270.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="pandas.html"><img src="../../static/img/ProductsH/3img1.jpg" alt="" class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Waffle Trainer</h3>
                        <h4 class="product__tittle">Zapatilla trainning</h4>
                        <h3>$180.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="pandas.html"><img src="../../static/img/ProductsH/4img1.jpg" alt="" class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Blazer Mid</h3>
                        <h4 class="product__tittle">Tennins Baloncesto</h4>
                        <h3>$320.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="pandas.html"><img src="../../static/img/ProductsH/5img1.jpg" alt="" class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Zoom 3</h3>
                        <h4 class="product__tittle">Zapatilla de running</h4>
                        <h3>$390.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
            </section>
        </div>
    </main>



    </section>
    <footer class="pie-pagina">
        <div class="grupo-1"></i>
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../../static/img/Logo_cosport_bn.png" alt="logo-footer">
                    </a>
                </figure>
            </div>
            <div class="box">
                <ul>
                    <li> <a href="#">Sobre nosotros</a></li>
                    <li> <a href="#">Contactenos</a></li>
                    <li> <a href="#">Soporte</a></li>
                </ul>
            </div>
            <div class="box">
                <div class="red-social">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2021</small>
        </div>
    </footer>

    <script src="main.js"> </script>

</body>

</html>s