<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesorios Niños</title>
    <link rel="stylesheet" href="../../static/css/plantilla.css">
    <link rel="stylesheet" href="../../static/css/productos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">
                <img class="logo" src="../../static/img/Logo_cosport.png" alt="logo">
            </a>
            <ul class="enlaces-menu">
                <li>
                    <a href="#">Novedades</a>
                    <ul class="menu-novedades">
                        <li><a href="../Hombres/Destacado.html">Destacado Hombres</a></li>
                        <li><a href="../Mujeres/Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="Destacado.html">Destacado Niños</a></li>
                    </ul>
                </li>
                <li><a href="../Hombres/Destacado.html">Hombres</a>
                    <ul>
                        <li><a href="../Hombres/Destacado.html">Destacado Hombres</a></li>
                        <li><a href="../Hombres/Calzado.html">Calzado</a></li>
                        <li><a href="../Hombres/Ropa.html">Ropa</a></li>
                        <li><a href="../Hombres/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="../Mujeres/Destacado.html">Mujeres</a>
                    <ul>
                        <li><a href="../Mujeres/Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="../Mujeres/Calzado.html">Calzado</a></li>
                        <li><a href="../Mujeres/Ropa.html">Ropa</a></li>
                        <li><a href="../Mujeres/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="Destacado.html">Niños</a>
                    <ul>
                        <li><a href="Destacado.html">Destacado Niños</a></li>
                        <li><a href="Calzado.html">Calzado</a></li>
                        <li><a href="Ropa.html">Ropa</a></li>
                        <li><a href="Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../login.html"><i class="far fa-user-circle" style="font-size:25px;"></i></a>
                </li>
            </ul>

            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav>
    </header>


    <!-- Productos-->
    <!-- Productos-->
    <main class="main">
        <div class="container">
            <section class="container-products">
                <div class="product">
                    <a class="products" href="Accesorios/A1.html"><img src="../../static/img/ProductsN/A1img1.jpg" alt=""
                            class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Nike Air Max 2021</h3>
                        <h4 class="product__tittle">Zapatilla Niño/a</h4>
                        <h3>$250.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="Accesorios/A2.html"><img src="../../static/img/ProductsN/A2img1.jpg" alt=""
                            class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">Conjunto 3 piezas bebé</h3>
                        <h4 class="product__tittle">Conjunto 3 piezas bebé</h4>
                        <h3>$105.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
                <div class="product">
                    <a class="products" href="Accesorios/A3.html"><img src="../../static/img/ProductsN/A3img1.jpg" alt=""
                            class="product__img"></a>
                    <div class="product__description">
                        <h3 class="product__tittle">TR Hypercharge Chug 473 ml</h3>
                        <h4 class="product__tittle">Botella de agua con estampado</h4>
                        <h3>$60.000</h3>
                        <span class="price"></span>
                    </div>
                </div>
            </section>
        </div>

    </main>


    <footer class="pie-pagina">
        <div class="grupo-1"></i>
            <div class="box">
                <figure>
                    <a href="../index.html">
                        <img src="../../static/img/Logo_cosport_bn.png" alt="logo-footer">
                    </a>
                </figure>
            </div>
            <div class="box">
                <ul>
                    <li> <a href="#">Sobre nosotros</a></li>
                    <li> <a href="#">Contactenos</a></li>
                    <li> <a href="#">Soporte</a></li>
                </ul>
            </div>
            <div class="box">
                <div class="red-social">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>

        </div>
        <div class="grupo-2">
            <small>&copy; 2021</small>
        </div>
    </footer>

    <script src="main.js"> </script>

</body>

</html>