<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nike</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Icono-->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logoNIKE1.svg') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css"
    />
    <link
      href="{{ url_for('static', filename='css/home.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="contenedor" style="font-family: 'Fira Code', monospace">
    <!----NavBar-->
    <section class="NavBar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img
            alt="logoNIKE1"
            className="img-1"
            src="{{ url_for('static', filename='img/logoNIKE1.svg') }}"
          />
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  ><b>NOVEDADES</b></a
                >
              </li>
              <li class="nav-item item-1">
                <a
                  class="nav-link active"
                  href="{{url_for('secciones', seccion='hombre')}}"
                  ><b>HOMBRES</b></a
                >
              </li>
              <li class="nav-item item-1">
                <a
                  class="nav-link active"
                  href="{{url_for('secciones', seccion='mujer')}}"
                  ><b>MUJERES</b></a
                >
              </li>
              <li class="nav-item item-1">
                <a
                  class="nav-link active"
                  href="{{url_for('secciones', seccion='niño')}}"
                  ><b>NIÑOS</b></a
                >
              </li>
              <li class="nav-item item-1">
                <a
                  class="nav-link active"
                  href="{{url_for('secciones', seccion='descuento')}}"
                  ><b>DESCUENTOS</b></a
                >
              </li>
            </ul>
          </div>
          <a>
            <img
              alt="accountCircleLine1"
              className="img-2"
              src="{{ url_for('static', filename='img/accountCircleLine1.svg') }}"
            />
          </a>
          <a href="#">
            <img
              alt="shoppingBagLine1"
              className="img-3"
              src="{{ url_for('static', filename='img/shoppingBagLine1.svg') }}"
            />
          </a>
        </div>
      </nav>
    </section>
    <!---Prueba-->
    <!---Inicio-->
    <section clas="landing">
      <div class="row">
        <div class="col-md-6">
          <br /><br /><br /><br />
          <br /><br /><br /><br />
          <h1 style="font-size: 80px; text-align: center">Hazte imparable</h1>
          <br />
          <br />
          <br />
          <p style="font-size: 30px; text-align: center">
            El éxito no se da, se gana. En la pista, en el campo, en el
            gimnasio.<br />
            Con sangre, sudor y lágrimas ocasionales.
          </p>
        </div>
        <div class="col-md-6">
          <br />
          <br />
          <br />
          <img
            src="{{ url_for('static', filename='img/Nike-B.gif') }}"
            alt=""
            class="banner-img"
          />
        </div>
      </div>
    </section>
    <br /><br /><br />
    <!--Footer-->
    <section class="foo">
      <footer class="footer-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Tarjetas de regalo</a>
              </h3>
              <br />
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Promociones</a>
              </h3>
              <br />
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Iniciar sesion por correo</a>
              </h3>
              <br />
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Convertirse en un miembro</a>
              </h3>
              <br />
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Danos tu opinion</a>
              </h3>
            </div>
            <div class="col-md-6 col-md-3 item text">
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Ver orden</a>
              </h3>
              <br />
              <h3 class="footer-dar">
                <a class="foo-link" href="#">Contactanos</a>
              </h3>
              <br />
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <br />
          <p class="copyright">Nike © 2021</p>
        </div>
      </footer>
    </section>
  </body>
</html>
