<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas</title>
    <link rel="stylesheet" href="../static/css/plantilla.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>


    <!-- Facebook -->
    <i class="fab fa-facebook-f"></i>

    <!-- Twitter -->
    <i class="fab fa-twitter"></i>

    <!-- Google -->
    <i class="fab fa-google"></i>

    <!-- Instagram -->
    <i class="fab fa-instagram"></i>

    <!-- Linkedin -->
    <i class="fab fa-linkedin-in"></i>

    <!-- Pinterest -->
    <i class="fab fa-pinterest"></i>

    <!-- Vkontakte -->
    <i class="fab fa-vk"></i>

    <!-- Stack overflow -->
    <i class="fab fa-stack-overflow"></i>

    <!-- Youtube -->
    <i class="fab fa-youtube"></i>

    <!-- Slack -->
    <i class="fab fa-slack-hash"></i>

    <!-- Github -->
    <i class="fab fa-github"></i>

    <!-- Dribbble -->
    <i class="fab fa-dribbble"></i>

    <!-- Reddit -->
    <i class="fab fa-reddit-alien"></i>

    <!-- Whatsapp -->
    <i class="fab fa-whatsapp"></i>

    <footer class="pie-pagina">
        <div class="grupo-1"></i>
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/img/Logo_cosport.png" alt="logo-footer">
                    </a>
                </figure>
            </div>
            <div class="box">
                <ul>
                    <li> <a href="#">Sobre nosotros</a></li>
                    <li> <a href="#">Contactenos</a></li>
                    <li> <a href="#">Soporte</a></li>
                </ul>
            </div>
            <div class="box">
                <div class="red-social">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div>
            </div>
            
        </div>
        <div class="grupo-2">
            <small>&copy; 2021</small>
        </div>
    </footer>
</body>

</html>