<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Air</title>
    <link rel="stylesheet" href="../../../../static/css/plantilla.css">
    <link rel="stylesheet" href="../../../../static/css/prueba.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    <header>
        <nav>
            <a href="../../index.html">
                <img class="logo" src="../../../../static/img/Logo_cosport.png" alt="logo">
            </a>
            <ul class="enlaces-menu">
                <li>
                    <a href="#">Novedades</a>
                    <ul class="menu-novedades">
                        <li><a href="../Hombres/Destacado.html">Destacado Hombres</a></li>
                        <li><a href="../Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="../../Ninos/Destacado.html">Destacado Niños</a></li>
                    </ul>
                </li>
                <li><a href="../../Hombres/Destacado.html">Hombres</a>
                    <ul>
                        <li><a href="../../Hombres/Destacado.html">Destacado Hombres</a></li>
                        <li><a href="../../Hombres/Calzado.html">Calzado</a></li>
                        <li><a href="../../Hombres/Ropa.html">Ropa</a></li>
                        <li><a href="../../Hombres/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="../../Mujeres/Destacado.html">Mujeres</a>
                    <ul>
                        <li><a href="../../Mujeres/Destacado.html">Destacado Mujeres</a></li>
                        <li><a href="../../Mujeres/Calzado.html">Calzado</a></li>
                        <li><a href="../../Mujeres/Ropa.html">Ropa</a></li>
                        <li><a href="../../Mujeres/Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li><a href="../Destacado.html">Niños</a>
                    <ul>
                        <li><a href="../Destacado.html">Destacado Niños</a></li>
                        <li><a href="../Calzado.html">Calzado</a></li>
                        <li><a href="../Ropa.html">Ropa</a></li>
                        <li><a href="../Accesorios.html">Accesorios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../login.html"><i class="far fa-user-circle" style="font-size:25px;"></i></a>
                </li>
            </ul>

            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav>
    </header>

    <section class="GrillaM"> 
    <div class="container-slider">
        <main class="ContenedorP">
            <div class="columns">
                <div class="container-slider">
                    <div class="card-wrapper">
                        <div class="card">
                            <!-- card left -->
                            <div class="product-imgs">
                                <div class="img-display">
                                    <div class="img-showcase">
                                        <img src="../../../static/img/ProductsN/R2img1.jpg" alt="shoe image">
                                        <img src="../../../static/img/ProductsN/R2img2.jpg" alt="shoe image">
                                        <img src="../../../static/img/ProductsN/R2img1.jpg" alt="shoe image">
                                        <img src="../../../static/img/ProductsN/R2img2.jpg" alt="shoe image">

                                    </div>
                                </div>
                                <div class="img-select">
                                    <div class="img-item">
                                        <a href="#" data-id="1">
                                            <img src="../../../static/img/ProductsN/R2img1.jpg" alt="shoe image">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="2">
                                            <img src="../../../static/img/ProductsN/R2img2.jpg" alt="shoe image">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="3">
                                            <img src="../../../static/img/ProductsN/R2img1.jpg" alt="shoe image">
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="4">
                                            <img src="../../../static/img/ProductsN/R2img2.jpg" alt="shoe image">
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="column2">
                                <!-- card right -->
                                <div class="product-content">
                                    <h2 class="product-title">Nike Air</h2>
                                    <a href="#" class="product-link" style="font-size: 13px;">Guía de tallas</a>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.6(2)</span>
                                    </div>

                                    <div class="product-detail">
                                        <h2 style="font-size:20px">$280.000</h2> <br>
                                        <p style="font-size:16px">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Illo eveniet veniam
                                            tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur,
                                            aspernatur quidem at sequi ipsa!</p>

                                    </div>
                                    <div class="purchase-info">
                                        <input type="number" min="0" value="1">
                                        <button type="button" class="btn">
                                            Agregar al carrito <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <button type="button" class="btn">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Products relacionados -->
    <div class="products-r">
        <br><br> <h1 style="font-size: 40px; text-align: center;">Productos que te pueden interesar</h1> <br><br>
        <div class="img-select">
            <div class="img-item">
                <a href="#" class="a-color">
                    <img src="../../../static/img/ProductsN/3img4.jpg" alt="shoe image">
                </a>
            </div>
            <div class="img-item">
                <a href="#" >
                    <img src="../../../static/img/ProductsN/4img4.jpg" alt="shoe image">
                </a>
            </div>
            <div class="img-item">
                <a href="#" >
                    <img src="../../../static/img/ProductsN/R1img1.jpg" alt="shoe image">
                </a>
            </div>
            <div class="img-item">
                <a href="#" >
                    <img src="../../../static/img/ProductsN/R3img1.jpg" alt="shoe image">
                </a>
            </div>
        </div>
    </section>

</section>
<footer class="pie-pagina">
    <div class="grupo-1"></i>
        <div class="box">
            <figure>
                <a href="../../index.html">
                    <img src="../../../../static/img/Logo_cosport_bn.png" alt="logo-footer">
                </a>
            </figure>
        </div>
        <div class="box">
            <ul>
                <li> <a href="#">Sobre nosotros</a></li>
                <li> <a href="#">Contactenos</a></li>
                <li> <a href="#">Soporte</a></li>
            </ul>
        </div>
        <div class="box">
            <div class="red-social">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>

    </div>
    <div class="grupo-2">
        <small>&copy; 2021</small>
    </div>
</footer>

    <script src="../../../static/js/slider.js"> </script>

</body>

</html>